body {
    background-color: rgb(232,231,160) !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    float: right;
}

li {
    float: left;

}

a {
    display: block;
    padding: 8px;
}

li a {
    display: block;
    color: rgb(152,0,4);
    text-align: center;
    padding: 16px 16px 0px 16px;
    text-decoration: none;
    font-family: 'Istok Web', sans-serif;
    font-weight: bold;
}

li a:hover {
    color: #CC0005;
    text-decoration: none;
}

h1 {
    color: rgb(95,32,33);
    font-weight: bold;
    font-size: 52px !important;
    text-align: center;
    font-family: 'Permanent Marker', sans-serif;

}

h2 {
    display: inline;
    font-size: 44px !important;
    color: #ffffff;
    font-family: 'Permanent Marker', sans-serif;
    text-align: center;

}

h4 {
    color: #607D8B;
    font-family: 'Istok Web', sans-serif;

}

h5 {
    color: #607D8B;
    font-family: 'Istok Web', sans-serif;
    font-size: 18px !important;

}

p {
    color: #607D8B;
    font-family: 'Istok Web', sans-serif;

}

.container-fluid {
    position: relative;
    display: inline-block;
}

.image img {
    width: 100%;
    position: relative;
    display: inline-block;
}

.row .img-responsive {
    width: 100%;
    display: block;
    padding-left:inherit;
    padding-right: inherit;

}

.col-lg-4 .text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 195px;
    text-align: center;
    width: 60%;
}

.image .text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 500px;
    text-align: center;
    width: 60%;

}

.column {
    flex: 33.33%;
    padding: 0px;
}

footer {
    width: calc(100% - 50px);
    padding: 10px 10px;
    margin-top: 20px;
    overflow:hidden;
    display: inline-block;
}

footer ul {

    width: fit-content;
    float: left;
    padding-left: 0px;

}


footer ul li p {

    font-family: 'Istok Web', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 2px;

}

.footer-sm {

    float: right;
    display: inline-block;
}

.fa-facebook-square {
    background: #3B5998;
    color: white;
}

.fa-instagram-square {
    background: rgb(78,114,241);
    color: white;
}

header .header-banner {

    background-image: url("./img/udu.png");
    width: 100%;
    height: calc(100vh - 500px);
    min-height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
    
    }

header .header-text {

    display: table-cell;
    vertical-align: bottom;
    text-align: center;
    padding: 0px 0 24px 0;

}

.btn-saada{

    border-radius: 0px !important;
    background-color: #A2B7B7 !important;
    border-color: #A2B7B7 !important;

}

.btn-saada:hover {

    background-color: #6c757d !important;
    border-color: #6c757d !important;
    
}

.nopadding-right {
    padding-right: 0px !important;
}

.nopaddings-x {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#map {
    position: relative;
    width: 100%;
    height: 300px;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .image .text {
        top: 50px;
        right: 100px;
    }


}